anyio
asgiref
attrs
awscli
awsebcli
bcrypt
blessed
cached-property
botocore
cement
certifi
cffi
click
docker
docker-compose
dockerpty
docopt
docutils
fastapi
future
h11
idna
jmespath
jsonschema
paramiko
pathspec
pycparser
pydantic
pyrsistent
s3transfer
semantic-version
sniffio
starlette
termcolor
texttable
typing_extensions
urllib3
uvicorn
wcwidth
websocket-client
